* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    box-sizing: initial;
}

nav {
    background: fixed;
    position: fixed;
    background-color: lightslategrey;
}

.container {
    box-sizing: border-box;
    max-width: 100%;
}

.masthead {
    height: 100vh;
    min-height: 500px;
    background-image: url('./food1.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.btn {
    align-items: center;
    text-align: center;
    /* margin-top: 10px;
    margin-left: 550px;
    margin-right: 550px; */
}

.card-img-top {
    min-width: 50%;
    min-height: 300px;
    box-sizing: border-box;
    box-sizing: initial;
}


/* nothing here more  */

.aboutus-section {
    padding: 90px;
    padding-bottom: 50px;
    margin-bottom: 50px;
}

.aboutus-title {
    font-size: 30px;
    letter-spacing: 0;
    line-height: 32px;
    margin: 0 0 39px;
    padding: 0 0 11px;
    position: relative;
    text-transform: uppercase;
    color: #000;
}

.aboutus-title::after {
    background: #fdb801 none repeat scroll 0 0;
    bottom: 0;
    content: "";
    height: 2px;
    left: 0;
    position: absolute;
    width: 54px;
}

.aboutus-text {
    color: #606060;
    font-size: 13px;
    line-height: 22px;
    margin: 0 0 35px;
}

a:hover,
a:active {
    color: #ffb901;
    text-decoration: none;
    outline: 0;
}

.aboutus-more {
    border: 1px solid #fdb801;
    border-radius: 25px;
    color: #fdb801;
    display: inline-block;
    font-size: 14px;
    font-weight: 700;
    letter-spacing: 0;
    padding: 7px 20px;
    text-transform: uppercase;
}

.feature .feature-box .iconset {
    background: #fff none repeat scroll 0 0;
    float: left;
    position: relative;
    width: 18%;
}

.feature .feature-box .iconset::after {
    background: #fdb801 none repeat scroll 0 0;
    content: "";
    height: 150%;
    left: 43%;
    position: absolute;
    top: 100%;
    width: 1px;
}

.feature .feature-box .feature-content h4 {
    color: #0f0f0f;
    font-size: 18px;
    letter-spacing: 0;
    line-height: 22px;
    margin: 0 0 5px;
}

.feature .feature-box .feature-content {
    float: left;
    padding-left: 28px;
    width: 78%;
}

.feature .feature-box .feature-content h4 {
    color: #0f0f0f;
    font-size: 18px;
    letter-spacing: 0;
    line-height: 22px;
    margin: 0 0 5px;
}

.feature .feature-box .feature-content p {
    color: #606060;
    font-size: 13px;
    line-height: 22px;
}

.icon {
    color: #f4b841;
    padding: 0px;
    font-size: 40px;
    border: 1px solid #fdb801;
    border-radius: 100px;
    color: #fdb801;
    font-size: 28px;
    height: 70px;
    line-height: 70px;
    text-align: center;
    width: 70px;
}

.about {
    min-width: 100px;
    min-height: 400px;
}

.aboutus-banner img {
    min-width: 70;
    min-height: 300;
}


}
.non {
    min-width: 50px;
    min-height: 50px;
}

/* Happy Customers */
.person-text rel {
    min-width: 50px;
    min-height: 50px;
}

/* Footer  */
@import url(https://fonts.googleapis.com/css?family=Alegreya+Sans:300);
body {
    font-family: 'Alegreya Sans', sans-serif;
}

/* Sticky footer position and size
-------------------------------------------------- */
html {
    position: relative;
    min-height: 100%;
}
.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    /* Set the fixed height of the footer here */
    
    height: 300px;
}

/* Taller footer on small screens */
@media (max-width: 567em) {
    .footer {
        height: 300px;
        padding-top: 50px;
    }
}

/* Sticky footer style and color
-------------------------------------------------- */
footer {
    padding-top: 30px;
    background-color: #2ceb2c;
    color: rgb(8, 0, 0);
}
footer a {
    color: rgb(0, 0, 0);
    text-decoration: none;
}
footer a:hover,
footer a:focus {
    color: #aaa;
    text-decoration: none;
    border-bottom: 1px dotted #999;
}
footer .form-control {
    background-color: #94979c;
    box-shadow: 0 1px 0 0 rgba(255, 255, 255, 0.1);
    border: none;
    resize: none;
    color: #19d8d8;
    padding: 0.7em 1em;
}